*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: Roboto, "Segoe UI", Helvetica, Arial, sans-serif;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 0.6fr 3fr;
}

.dashboard{
    background-color: #2563eb;
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    grid-template-rows: 0.1fr 0.5fr 0.1fr;
}

.icon-dashboard{
    width: 50px;
    height: 50px;
}

.logo{
    padding: 1rem 1rem 0rem 2rem;
    font-size: 40px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    justify-content: center;
}

.logo p{
    padding-left: 10px;
}

.icon{
    width: 30px;
    height: 30px;
}

ul{
    display: grid;
    gap: 1rem;
    align-items: center;
}

ul li{
    font-size: 20px;
    padding-left: 2rem;
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    gap: 1rem;
    align-items: center;
}

.rightSide{
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.header{
    background-color: white;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    box-shadow: rgba(100, 106, 115, 0.4) 0px 5px 5px;
}

.headerleft,
.headerright{
    display: grid;
    grid-template-rows: 40% 60%;
}

.headerright{
    gap: 2rem;
}

.searchbar{
    padding: 2rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 30px 1fr;
}

input{
    background-color: rgba(100, 106, 115, 0.2);
    border: 0px;
    border-radius: 20px;
}

.userbar{
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: 70px 1fr;
}

.userinfo{
    display: grid;
    grid-template-rows: 20% 90%;
    gap: 0.3rem;
    padding-left: 1rem;
    font-weight: bolder;
    font-size: 15px;
}

.usernametext{
    font-size: 30px;
    font-weight: bolder;
}

.usernametextsmall
{
    font-size: 15px;
}

.headerprofile{
    display: grid;
    grid-template-columns: 30px 40px auto;
    align-items: center;
    padding-left: 5rem;
    gap: 1.5rem;
}

.headerbuttons{
    display: grid; 
    grid-template-columns: 100px 100px 100px;
    gap: 2rem;
}

button{
    padding: 10px 30px;
    width: 100px;
    color: white;
    background-color: #2563eb;
    border: 0px;
    border-radius: 30px;
}

.content{
    background-color: rgba(100, 106, 115, 0.2);
}

.profilepicture{
    width: 40px;
    height: auto;
    border-radius: 100%;
}

.biggerpfp{
    width: 70px;
}